# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\coderslab\KursSelenium\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
